.dropdown{
    position:relative;
    display: inline-block;
    background-color:'red';
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:black;
    min-width:10vw ;
    padding: 12px 16px;
    color: white;
    height: 5vh;
}

.dropdown:hover .dropdown-content{
    display: block;
}