.dropdown{
    position:relative;
    display: inline-block;
    background-color:'red';
}

.dropdown-content{
    display: none;
    background-color:black;
    min-width:10vw ;
    padding: 12px 16px;
    color: white;
    height: 15vh;
    border: white;
}

.dropdown:hover .dropdown-content{
    display: flexbox;
}