.nav{
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    margin-top: -12vh;
    padding-top: -21vh;
}
.nav li{
    display: block;
    font-size: 20px;
    padding: 20px;
}