h2.titulo{
    font-size:3vw;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 2px 2px black;
    color:white;
    margin-right: 10vw;
    margin-left:10vw;
}

/* Primer contenedor primera sección compra no compra*/
.firstContainer {    
    display: flex;
    width:100vw;
    height:100vh;
    background-color:#5DC1B9;
    padding-top:5vh;
    flex-direction:column;
}
/*Información del chart */
.infoCompraNoCompra{
        font-size:1.3vw;
        list-style:none;
        padding:0px;
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw
}


.nav{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    margin-top: -25vh;
    margin-left:3vw;
    width: 15vw;
    height: 40vh;
    opacity: 0.5
}
.nav li a{
    display: block;
    color: whitesmoke;
    padding: 8px 16px;
    text-decoration: none;
}

.nav li a:hover{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}
.iconNav .icon{
    width: 8vw;
    height: 8vh;
    margin-left: -3vw;
    margin-top: 15vh;
    position: relative;
    display: inline-block;
}
.iconNav:hover .nav{
    display: block;
}



@media screen and (max-width:480px) {
    h2.titulo{
        align-items: center;
        justify-content: center;
        text-align: center;
        color:whitesmoke;
        text-shadow: none;
        font-size: 4vw;
        margin: 80% 50% 50% 60%;
    }

    .mainContainer{
        display: flex;
        flex-direction: column;
    }
    .mainContainer .firstContainer{
        height: 70%;
        margin-top: 0%;
    }
    .mainContainer .firstContainer .infoCompraNoCompra{
        font-size: 3vw;
    }
}
