.mainContainerCss{
        display: flex;
        height:80vh;
        width: 100vw;
}
.titulo{
        position: absolute;
        justify-content: center;
        margin-left: 28%;
        margin-right: 28%;
        font-size: 1.60vw;
        margin-top: 3%;
        font-weight: bold;
}
.containerCCE{
        display: flex;
        width:50vw;
        flex-direction:column;
}
.logoCCE{
        display:flex;
        max-width:70%;
        max-height:100%;
        margin-top: 18%;
        margin-left:15%;
}
.CCEContenido{
        style={{
                margin:'7.5% 5% 1% 5%;
                font-size:1.3vw;
                text-align: justify;
}
@media screen and (max-width:480px) {
        .mainContainerCss{
                display: flex;
                flex-direction: column;
                width: 100vw;
        }
        .titulo{
                position: absolute;
                justify-content: center;
                margin-left: 20%;
                margin-right: 15%;
                font-size: 3vw;
                margin-top: 3%;
                font-weight: bold;
                text-align: justify;
        }
        .containerCCE{
                display: flex;
                width:100vw;
                height: 45vh;
                flex-direction:column;
        }
}