.mainContainerCss{
        display: flex;
        height:80vh;
        width: 100vw;
}
.titulo{
        
}
@media screen and (max-width:480px) {
        .mainContainerCss{
                display: flex;
                flex-direction: column;
                width: 100vw;
        }
}