.mainContainer{
        display:flex;
        justify-content:center;
}
.tituloRest{
        position: absolute;
        font-size: 1.80vw;
        font-weight: bold;
        margin-top: 10vh;
        margin-left: 15%;
}
@media screen and (max-width:480px) {
    .mainContainer{
        display:flex;
        justify-content:center;
        flex-direction: column;
    }       
    .titulo{
        position: absolute;
        font-size: 5vw;
        font-weight: bold;
        margin-top: 10vh;
        margin-left: 15%;
}
}