.mainContainerRVG{
        display:flex;
        justify-content:center;
}
.tituloRest{
        position: absolute;
        font-size: 1.80vw;
        font-weight: bold;
        margin-top: 10vh;
        margin-left: 15%;
}
.containerChartContenido{
        display:"flex";
        width: 50vw;
        height: 100vh;
        position:left;
        justify-content:center;
        align-items: center;
        font-size: 1.5vw;
        margin-left: 3%;
}
.contenidoGraphQL{
        margin-top:1%;
        color:#8884d8;
}
.containerRest{
        display:flex;
        width: 40vw;
        height: 100vh;
        position:right;
        justify-content:center;
        align-items: 'center;
        fontSize: '1.5vw;
        margin-left: 3%;
        text-align:justify;
        color:#82ca9d;
}
@media screen and (max-width:480px) {
    .mainContainerRVG{
        display:flex;
        justify-content:center;
        flex-direction: column;
    }       
    .tituloRest{
        position: relative;
        font-size: 3.8vw;
        font-weight: bold;
        margin-top: 5vh;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .containerChartContenido{
        display:"flex";
        width: 90vw;
        height: 40vh;
        margin-top: 10%;
        align-items: center;
    }    
    .contenidoGraphQL{
        margin-top:1%;
        color:#8884d8;
        font-size: 3vw;
    }
}