.mainContainer{
        display:flex;
        justify-content:center;
        background-color: ;
}
@media screen and (max-width:480px) {
    .mainContainer{
        display:flex;
        justify-content:center;
        flex-direction: column;
    }       
}