#dropdown-pos{
    width: 100%;
    position: fixed;
    top: 80px;
    list-style: none;
    text-align: center;
    background-color:#1F1C1C;
}
.li_despliegue{
    display:inline-flex;
    width: 100%;
    height: 2%;
    text-decoration: none !important;
    border:white;
    padding: 10px;
}
.li_despliegue li:hover {
    background: #5cabff;
}